.body{
    background-image: url("/images/contact-us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bg2{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 18px;
    display: block;
    justify-content: center;
    background-color: white;
    margin-top: 40px;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .login{
    color:#10571b;
    font-style: italic;
  }

  .login:hover{
    color: #7cab83;
  }

  .btnColor{
    background-color:#10571b;
    color: white;
  }

  .btnColor:hover{
    background-color: #7cab83;
  }

  .input{
    margin-bottom: 10px;
    margin-top: 10px;
  }




  @media only screen and (max-width: 800px) {
    .body {
        height: 100vh;
      }
      .bg2{
        
        margin-top: 0px;
    }
}