.body{
    background-image: url("/images/contact-us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg2{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 18px;
    display: block;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px; */
    background-color: white;
}

.input{
  margin-bottom: 30px;
  margin-top: 10px;
}

  .btnColor{
    background-color:#10571b;
    color: white;
  }

  .btnColor:hover{
    background-color: #7cab83;
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .login{
    color:#10571b;
    font-style: italic;
  }

  .login:hover{
    color: #7cab83;
  }

  input.formControl:focus {
    outline: none !important;
    border: none; 
    box-shadow: none; 
  } 



  
@media only screen and (max-width: 800px) {
    .body {
        height: 100vh;
      }
      .bg2{
        padding-left: 40px;
        padding-right: 40px;
        /* padding-top: 30px; */
        padding-bottom: 10px;
    }  
}
