.body{
    background-image: url("/images/contact-us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg2{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 18px;
    display: block;
    justify-content: center;
    background-color: white;
    margin-top: 40px;
}



  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .login{
    color:#10571b;
    font-style: italic;
  }

  .login:hover{
    color: #7cab83;
  }

  .btnColor{
    background-color:#10571b;
    color: white;
  }
  .btnColor:hover{
    background-color: #7cab83;
  }

  .input{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  @media only screen and (max-width: 800px) {
    .body {
        height: 100vh;
      } 
}