.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: 900;
    box-shadow: 0px 0px 10px #212121;
    margin-right: 9px;
    font-family: 'Space Mono', monospace;
}
.det{
    box-shadow: 0px 5px 10px  #212121;
    color: white;
    font-size: 12px;
    font-weight: 900;
    background-color: #10571b;
    font-family: 'Space Mono', monospace;
}



.card {
    width: fit-content;
    
}



.btn {
    border-radius: 0;
}

.imgThumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px;
}

.btnFlex{
    display: flex;
}

.space{
    padding-bottom: 60px;
}

.product-image {
  width: 100px;
  height: 100px;
}