.product{ 
    border-radius: 15px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 15px 35px #10571b;
    overflow: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #10571b;
    /* border-left: 1px solid #10571b; */
    border-bottom: 1px solid #10571b;
    margin-right: 35px;
    width: 200px;
}

.img{
    width: 100%;
    height: auto;
    
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #10571b;
    text-decoration: none;
    font-weight: 600;
}

.description{
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #10571b;
    font-weight: 600;
    padding-left: 3px;
    padding-right: 3px;
}