


.container{
   
    font-family: 'Poppins', sans-serif;
    background-color: #10571b;
}
.container1{
    padding-top: 3rem ;
    padding-bottom: 3rem ;
}
    
.txt{
    color: white;
   font-size: 18px;
   font-weight: 600;
}
.txt2{
    color: white;
    font-size: 15px;
}

.icon{
    color : white;
}